<h1>Your Cart</h1>
<% @cart.orderables.each do |orderable| %>
  <% apartment = orderable.apartment %>
  <p><%= apartment.title %> * <%= orderable.quantity %> = $<%= apartment.price * orderable.quantity %></p>

       <%= render partial: "cart/cart" if @render_cart %>
<% end %>
<p>Your total is $<%= @cart.total %> </p>