<<<<<<< HEAD
<h1>Новый объект</h1>

<%= render 'form', apartment: @apartment %>

<p><%= link_to 'Назад', apartments_path %></p>
=======
<div class="container1">
<h1>Новый апартамент</h1>

<%= render 'form', apartment: @apartment %>
<%= link_to "Выход", destroy_user_session_path, 'data-turbo-method': :delete, class: "sign-out", style: "text-align: center; display: block; margin-top: 10px; color: red;" %>
<p><%= link_to 'Назад', apartments_path %></p></div>
>>>>>>> 12323b7acd82f05a5c5836bdeef32b2cffd406c8
